**/node_modules/
**/dist/
*.tsbuildinfo

# Config
config.json
docker-compose.yml

# Backend runtime dirs
/models/*
!/models/.gitkeep

/backend/logs/*
!/backend/logs/.gitkeep

/backend/data/*
!/backend/data/.gitkeep

/backend/src/scratch.ts

# Frontend build
/frontend/build/
/frontend/.svelte-kit/

/screenshots/*
!/screenshots/.gitkeep

.claude/
.coutput/
