**/node_modules/
**/dist/
*.tsbuildinfo
package-lock.json

config.json
docker-compose.yml

/models/*
!/models/.gitkeep

/logs/*
!/logs/.gitkeep

/screenshots/*
!/screenshots/.gitkeep

/data/*
!/data/.gitkeep

/src/scratch.ts

.claude/